-- MySQL dump 10.13  Distrib 5.7.15, for Win64 (x86_64)
--
-- Host: localhost    Database: problem_management_system
-- ------------------------------------------------------
-- Server version	5.7.15

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `answer`
--

DROP TABLE IF EXISTS `answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `answer` (
  `id` varchar(15) NOT NULL,
  `pid` varchar(15) NOT NULL,
  `date` date NOT NULL,
  KEY `id` (`id`),
  KEY `pid` (`pid`),
  CONSTRAINT `answer_ibfk_1` FOREIGN KEY (`id`) REFERENCES `user` (`id`),
  CONSTRAINT `answer_ibfk_2` FOREIGN KEY (`pid`) REFERENCES `problem` (`pid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `answer`
--

LOCK TABLES `answer` WRITE;
/*!40000 ALTER TABLE `answer` DISABLE KEYS */;
/*!40000 ALTER TABLE `answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classictest`
--

DROP TABLE IF EXISTS `classictest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classictest` (
  `ctid` varchar(15) NOT NULL,
  `pid` varchar(15) NOT NULL,
  PRIMARY KEY (`ctid`),
  KEY `pid` (`pid`),
  CONSTRAINT `classictest_ibfk_1` FOREIGN KEY (`pid`) REFERENCES `problem` (`pid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classictest`
--

LOCK TABLES `classictest` WRITE;
/*!40000 ALTER TABLE `classictest` DISABLE KEYS */;
/*!40000 ALTER TABLE `classictest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comprise1`
--

DROP TABLE IF EXISTS `comprise1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comprise1` (
  `pid` varchar(15) NOT NULL,
  `tid` varchar(15) NOT NULL,
  KEY `pid` (`pid`),
  CONSTRAINT `comprise1_ibfk_1` FOREIGN KEY (`pid`) REFERENCES `problem` (`pid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comprise1`
--

LOCK TABLES `comprise1` WRITE;
/*!40000 ALTER TABLE `comprise1` DISABLE KEYS */;
/*!40000 ALTER TABLE `comprise1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comprise2`
--

DROP TABLE IF EXISTS `comprise2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comprise2` (
  `pid` varchar(15) NOT NULL,
  `ctid` varchar(15) NOT NULL,
  KEY `pid` (`pid`),
  KEY `ctid` (`ctid`),
  CONSTRAINT `comprise2_ibfk_1` FOREIGN KEY (`pid`) REFERENCES `problem` (`pid`),
  CONSTRAINT `comprise2_ibfk_2` FOREIGN KEY (`ctid`) REFERENCES `classictest` (`ctid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comprise2`
--

LOCK TABLES `comprise2` WRITE;
/*!40000 ALTER TABLE `comprise2` DISABLE KEYS */;
/*!40000 ALTER TABLE `comprise2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course` (
  `cid` char(8) NOT NULL,
  `cname` varchar(50) NOT NULL,
  PRIMARY KEY (`cid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
INSERT INTO `course` VALUES ('AL******','All'),('WL21001*','AdvancedMathematics'),('WY110011','ENGLISH1');
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deleteduser`
--

DROP TABLE IF EXISTS `deleteduser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deleteduser` (
  `id` varchar(15) NOT NULL,
  `password` varchar(15) NOT NULL,
  `joinTime` date NOT NULL,
  `name` varchar(15) NOT NULL,
  `authority` char(1) NOT NULL,
  `handleId` varchar(15) NOT NULL,
  `deleteTime` date NOT NULL,
  PRIMARY KEY (`id`,`deleteTime`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deleteduser`
--

LOCK TABLES `deleteduser` WRITE;
/*!40000 ALTER TABLE `deleteduser` DISABLE KEYS */;
INSERT INTO `deleteduser` VALUES ('User_4','user4','2016-10-25','鐢ㄦ埛4','B','Admin','2016-12-13'),('User_5','user5','2016-10-31','鐢ㄦ埛5','B','Admin','2016-12-13'),('User_6','aaa','2016-10-31','aaa','B','Admin','2016-12-13');
/*!40000 ALTER TABLE `deleteduser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `genxin`
--

DROP TABLE IF EXISTS `genxin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `genxin` (
  `administratorId` varchar(15) NOT NULL,
  `pid` varchar(15) NOT NULL,
  `date` date NOT NULL,
  KEY `pid` (`pid`),
  KEY `administratorId` (`administratorId`),
  CONSTRAINT `genxin_ibfk_1` FOREIGN KEY (`pid`) REFERENCES `problem` (`pid`),
  CONSTRAINT `genxin_ibfk_2` FOREIGN KEY (`administratorId`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genxin`
--

LOCK TABLES `genxin` WRITE;
/*!40000 ALTER TABLE `genxin` DISABLE KEYS */;
/*!40000 ALTER TABLE `genxin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `problem`
--

DROP TABLE IF EXISTS `problem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `problem` (
  `pid` varchar(15) NOT NULL,
  `classification` varchar(50) NOT NULL,
  `faculty` varchar(50) NOT NULL,
  `subject` varchar(50) NOT NULL,
  `question` varchar(15) NOT NULL,
  `difficulty` char(1) NOT NULL,
  PRIMARY KEY (`pid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `problem`
--

LOCK TABLES `problem` WRITE;
/*!40000 ALTER TABLE `problem` DISABLE KEYS */;
/*!40000 ALTER TABLE `problem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `relation`
--

DROP TABLE IF EXISTS `relation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `relation` (
  `pid1` varchar(15) NOT NULL,
  `pid2` varchar(15) NOT NULL,
  `relationLevel` char(1) DEFAULT NULL,
  KEY `pid1` (`pid1`),
  KEY `pid2` (`pid2`),
  CONSTRAINT `relation_ibfk_1` FOREIGN KEY (`pid1`) REFERENCES `problem` (`pid`),
  CONSTRAINT `relation_ibfk_2` FOREIGN KEY (`pid2`) REFERENCES `problem` (`pid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `relation`
--

LOCK TABLES `relation` WRITE;
/*!40000 ALTER TABLE `relation` DISABLE KEYS */;
/*!40000 ALTER TABLE `relation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trolley`
--

DROP TABLE IF EXISTS `trolley`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trolley` (
  `id` varchar(15) NOT NULL,
  `pid` varchar(15) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trolley`
--

LOCK TABLES `trolley` WRITE;
/*!40000 ALTER TABLE `trolley` DISABLE KEYS */;
/*!40000 ALTER TABLE `trolley` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` varchar(15) NOT NULL,
  `password` varchar(15) NOT NULL,
  `joinTime` date NOT NULL,
  `name` varchar(15) NOT NULL,
  `authority` char(1) NOT NULL,
  `online` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('1111','111111','2016-11-01','1111','B',NULL),('1223322','23','2016-12-13','123','B',NULL),('aaaa','ffff','2016-11-01','aaa','B',NULL),('Admin','admin','2016-10-14','绠＄悊鍛?,'A',1),('Admin1','admin1','2016-12-13','绠＄悊鍛?,'A',0),('ggggg','ggg','2016-11-01','ggg','B',NULL),('hjhg','hhhk','2016-12-13','ffgj','B',NULL),('lawrence','123','2016-12-13','lawrence','B',0),('qqqqq','qqq','2016-11-01','qqqq','B',NULL),('User_2','user2','2016-10-22','鐢ㄦ埛2','B',NULL),('User_3','user3','2016-10-22','鐢ㄦ埛3','B',NULL),('weer','etrttyy','2016-12-13','Werrt','B',NULL);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usersdocument`
--

DROP TABLE IF EXISTS `usersdocument`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usersdocument` (
  `did` varchar(15) NOT NULL,
  `pid` varchar(15) NOT NULL,
  `ctid` varchar(15) NOT NULL,
  `package` varchar(15) NOT NULL,
  KEY `pid` (`pid`),
  KEY `ctid` (`ctid`),
  CONSTRAINT `usersdocument_ibfk_1` FOREIGN KEY (`pid`) REFERENCES `problem` (`pid`),
  CONSTRAINT `usersdocument_ibfk_2` FOREIGN KEY (`ctid`) REFERENCES `classictest` (`ctid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usersdocument`
--

LOCK TABLES `usersdocument` WRITE;
/*!40000 ALTER TABLE `usersdocument` DISABLE KEYS */;
/*!40000 ALTER TABLE `usersdocument` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2018-12-11 21:11:23
